<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">

                <div class="row" style="text-align:center">
                    <div class="col-md-12">
                        <i class="fas fa-user-circle fa-5x"></i>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group flex-nowrap inpLogin">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="addon-wrapping"><i class="fas fa-user-alt"></i></span>
                            </div>
                            <input id="inpUsr" type="text" class="form-control" placeholder="Usuario" autocomplete="off" />
                        </div>
                        <div class="input-group flex-nowrap inpLogin">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="addon-wrapping"><i class="fas fa-key"></i></span>
                            </div>
                            <input id="inpPwd" type="password" class="form-control" placeholder="Contraseña" autocomplete="off" />
                        </div>
                        <div id="divAlerts" class="inpLogin" style="text-align:center;">
                        </div>
                    </div>
                </div>

                <div class="row" style="text-align:center">
                    <div class="col-md-12 inpLogin">
                        <button id="btnValidaUsrPwd" type="button" class="btn btn-primary">Ingresar</button>
                    </div>
                </div>
                <div class="row" style="text-align:center;">
                    <div class="col-md-12">
                        <a href="#" style="text-decoration:none">¿Olvido la contraseña?</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/Login.js?v=@DateTime.Now.ToString("yyyyMMdd")"></script>
}