body {
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(242, 242, 233));
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
}

.container {
    max-width: 1600px !important;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
}

.form-control {
    text-align: center;
}

/*.input-group-text :hover {
    cursor:pointer;
}*/

.alert {
    margin: 0px !important;
}

.inpLogin {
    margin-bottom: .5rem;
}

.btnGrabar {
    margin-top: 25px;
}

input[type=radio], input[type=checkbox] {
    transform: scale(1.5);
}

.imgZoom {
    transition: all .2s ease-in-out;
    z-index: -50;
}

    .imgZoom:hover {
        transform: scale(3.5);
        cursor: default;
    }

.readOnlyInput {
    border: none;
    outline: none;
}
/*.select2-selection {
    height: calc(1.5em + .75rem + 2px) !important;
}

.select2-selection__arrow {
    height: 36px !important;
}

.select2-selection__clear {
    height: 36px !important;
}

.hr-dashed {
    border-top: 1px dashed black;
}*/
.select2-container {
    width: 100% !important;
    padding: 0;
}

/*----Menu----*/
.linkStatusDeveloping {
    color: black !important;
    background-color: yellow !important;
}

.linkStatusOk {
    color: white !important;
    background-color: green !important;
}
/*------------*/


/*----Menu----*/

g > g > g:hover {
    fill: rgb(255, 193, 7);
}

/*------------*/

/*Iconos para ayuda*/

.icnEmail {
    text-decoration: none;
    color: rgb(237, 201, 109);
}

    .icnEmail:hover {
        color: rgb(237, 201, 109);
    }

.icnPhone {
    text-decoration: none;
    color: rgb(31, 149, 192);
}

    .icnPhone:hover {
        color: rgb(31, 149, 192);
    }

.icnWhats {
    text-decoration: none;
    color: rgb(31,192,79);
}

    .icnWhats:hover {
        color: rgb(31,192,79);
    }

.helpIcon {
    transition: transform .2s;
}

    .helpIcon:hover {
        transform: scale(1.3);
    }
